.App {
}

.siteHeader {
  text-align: center;
}
  .siteHeader h1 {
    font-family: 'daunpenhAlt';
    font-size: 1.5em;
    font-weight: normal;
    margin: 1.5rem;
  }
  .siteHeader img {
    margin-top: 75px;
  }
  
  .siteHeader h2 {
    color: #F9D7D9;
    font-family: 'daunpenhAlt';
    font-size: 1.5em;
    font-weight: normal;
  }