.loaderWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.heart {
  position: relative
}
  .heart, .heart:before, .heart:after {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FF0033;
    transform: rotateZ(45deg);
  }
  
  .heart:before, .heart:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
    
  .heart:before {
    transform: translateX(-50%);
    animation: animX 2s infinite 0.5s;
  }
  
  .heart:after {
    transform: translateY(-50%);
    animation: animY 2s infinite;
  }

@keyframes animX {
  0%, 25% {
    transform: translateX(-50%);
  }
    
  50%, 75% {
    transform: translateX(50%);
  }
}

@keyframes animY {
  0%, 25% {
    transform: translateY(-50%)
  }

  50%, 75% {
    transform: translateY(50%)
  }
}