.photoWrapper {
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

.photoWrapper img {
  width: 100%;
}

.photoWrapper .download {
  background: rgba(0, 0, 0, 0.5) url(../img/download.svg) right 5px top 5px no-repeat;
  border-radius: 5px;
  bottom: 1em;
  color: #FFF;
  padding: 10px 35px 10px 10px;
  position: absolute;
  right: 1em;
  text-decoration: none;
}